{
  "components": {
    "server": {
      "dockerfile": "./Server",
      "manifest": "./Server/server-manifest.yaml"
    },
    "ingress": {
      "manifest": "./ingress-deployment.yaml"
    },
    "database": {
      "manifest": "./Database/database-manifest.yaml"
    }
  },
  "variables": {
    "kindClusterName": "tense-mantis",
    "dockerHubUser": "jomadu",
    "imageBaseName": "tense-mantis"
  }
}
