{
  "components": {
    "frontend": {
      "dockerfile": "./frontend",
      "manifest": "./frontend/frontend-manifest.yaml"
    },
    "backend": {
      "dockerfile": "./backend",
      "manifest": "./backend/backend-manifest.yaml"
    },
    "ingress": {
      "manifest": "./ingress-deployment.yaml"
    }
  },
  "variables": {
    "kindClusterName": "web-app",
    "dockerHubUser": "jomadu",
    "imageBaseName": "web-app"
  }
}
